<div class="container mt-5">
  <mat-card>
    <mat-toolbar color="primary">
        Detalhes do Curso
    </mat-toolbar>
    <mat-card-content class="mt-3">
      <form [formGroup]="form" class="min-width">

        <div class="mt-1">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Digite um nome"
              formControlName="name" #name>
              <mat-hint align="end">{{ name.value?.length || 0 }} / 50</mat-hint>
              <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage("name") }}</mat-error>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
              <mat-option value="null"></mat-option>
              <mat-option value="Front-end">Front-end</mat-option>
              <mat-option value="Back-end">Back-end</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category')?.invalid">{{ getErrorMessage("category") }}</mat-error>
          </mat-form-field>
        </div>

      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        color="accent"
        mat-raised-button
        (click)="save()">
        <mat-icon>save</mat-icon>
        SALVAR
      </button>

      <button
        color="warn"
        mat-stroked-button
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        CANCELAR
      </button>
    </mat-card-actions>
  </mat-card>
</div>


