@use "src/styles/abstract";
@use "src/styles/layout";

.snack {
  height: 100px;

  .snack__container {
    margin: 7px 0 7px 7px;
  }

  &--success {
    background-color: abstract.$snack-color-success;
    color: abstract.$light-color;
  }

  &--error {
    background-color: abstract.$snack-color-error;
    color: abstract.$light-color;
  }

  h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 9px;
  }

  p {
    font-size: 13px;
    font-weight: 400;
  }
}
